#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(100, 100, 100, 0.4);
}

#lightbox {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: white;
}

.lightbox-preview {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.lightbox-preview figure {
    max-height: 90%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lightbox-preview figure img {
    display: inline-block;
    z-index: 100001;
    width: 100%;
    height: 90%;
    object-fit: contain;
}

.lightbox-preview figure video {
    display: inline-block;
    z-index: 100001;
    width: 100%;
    height: 90%;
    object-fit: contain;
}

.lightbox-preview figure figcaption {
    align-self: flex-start;
}

.nav-lightbox,
.close-lightbox {
    position: absolute;
}

.nav-lightbox {
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main {
    margin: 0 100px;
}

.media_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.media_section img,
.media_section video {
    height: 200px;
    width: 200px;
    margin: 0;
    object-fit: fill;
    border-radius: 5px;
}


.caption-photographer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 200px;
}

figcaption {
    color: #901C1C;
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    padding: 0 40px;
}

.photograph-header h1 {
    color: #D3573C;
}

.photograph-header h1+p {
    color: #901C1C;
    font-size: large;
}

.photograph-header h1+p+p {
    color: #525252;
}

nav {
    gap: 20px;
    display: flex;
    flex-direction: row;
    font-weight: 900;
    font-size: larger;
    margin: 10px 0;
}

.likes-btn {
    cursor: pointer;
}

.likes-btn:hover {
    cursor: pointer;
    color: #D3573C;
}

.dropdown-sort {
    flex-direction: column;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-sort {
    display: flex;
}

.dropdown:hover>button {
    border-radius: 0px;
}

.dropdown-sort>button {
    font-size: 20px;
    font-weight: bold;
    color: #FAFAFA;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    cursor: pointer;
    color: #FAFAFA;
}

.dropdown-sort>button:hover {
    background-color: #D3573C;
}

.sort-btn {
    font-size: 20px;
    font-weight: bold;
    color: #FAFAFA;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    color: #FAFAFA;
}

.sort-btn:hover {
    background-color: #D3573C;
    border-radius: 0;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 50%;

}

.bottom-fixed-box {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0;
    right: 5%;
    border-radius: 5px;
    background-color: #D3573C;
    padding: 0 10px;
    gap: 50px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: #FAFAFA;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}